# Ignore environment variables and virtual environments
.env
.venv/
venv/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore VS Code settings (if using VS Code)
.vscode/


